<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Café Perfeito</title>
  <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header>
      <h1>Café Perfeito</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/coffe">Cadastro</a>
      <a href="/galeria">Galeria</a>
    </nav>
    <section class="hero">
          <h2>O melhor café para começar seu dia</h2>
          <div class="imgtext">
              <img  src="{{ imagem }}" alt="café quente">
              <p>O café é uma das bebidas mais populares do mundo, apreciado por seu sabor e aroma únicos.
                  Existem diferentes tipos de grãos e métodos de preparo, como espresso, filtrado e prensa francesa.
                  Além de ser um estimulante natural,
                  o café também traz benefícios à saúde quando consumido com moderação.</p>
          </div>
    </section>
    <section class="botoes">
        <div class="bnt">
            <div class="botao">
                <button><span><a href="/coffe">Cadastro</a></span></button>
            </div>
            <div class="botao">
                <button><span><a href="/galeria">Galeria</a></span></button>
            </div>
        </div>
    </section>
    <section class="content" id="sobre">
      <h2>Sobre Nós</h2>
      <p>Somos apaixonados por café e oferecemos os melhores grãos selecionados para você.</p>
    </section>
    <footer>
      <p>&copy; 2025 Café Perfeito. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
